html {

}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}
.blurimg{
  background:#000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  position: fixed;
  left:0;
  right: 0;
  top:0;
  height: 700px;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.5;
}
.header-color{

}
.landing-grid{

}
.color{
    height:300px;
    width:70%;
    background-color:black;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    top:300px;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.banner-text{
  height:300px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  position:fixed;
  top:300px;
  width:80%;
  text-align:center;
  z-index:1;
}
.avatar{
  width:200px;
  height:200px;
  display:block;
  margin:auto;
  border-radius: 50%;
}
.banner-text hr{
  border-top: 5px dotted white;
  width:60%;
  margin:auto;
}
.banner-text h1{
  color:white;
}
.banner-text p{
  color: white;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i{
  font-size: 5em;
  color:white;
}
.displayProjects{
  display:flex;
  justify-content: space-between;
}
/*contact page css*/
.contact-body{
  margin:auto;
  position: fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid{
  text-align: center;
  justify-content: center;
  background: white;
  width: 80%;
  height: 550px;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h1{
  font-family: 'Anton', sans-serif;
}
  .contact-grid p{
    font-family: 'Oxygen' ,sans-serif;
    font-weight: bold;
  }
  .contact-grid hr{
    border-top:5px dotted black;
    width:50%;
    margin: auto;
  }
.contact-list i{
  font-size: 33px;
  padding-right: 2em;
}

/*Resume page css*/
.resume-right-col{
  padding:50px;
  border-radius:50px;
  color:white;
}
