body{
  font-family: Ubuntu, sans-serif;
}
h3{
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 60px;
    /* letter-spacing: 5px; */}
/*landing page css*/
p.slogan{
  max-width: 500px;
  padding: 20px;
}
/*.blurimg{
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000);
;
  position: fixed;
  left:100px;
  right:100px;
  top:100px;
  height: 520px;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.5;
}*/
.header-color{

}
.landing-grid{

}
.color{
    height:300px;
    width:70%;
    background-color:black;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    top:300px;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.banner-text{
  display:flex;
  align-items: center;
  justify-content: center;
  height:300px;
  margin: auto;
  border-radius: 10px;
  /*position:fixed;*/
  width:80%;
  flex-direction: column;
  text-align:center;
}
.avatar{
  width:200px;
  height:200px;
  display:block;
  margin:auto;
  border-radius: 50%;
}
.banner-text hr{
  border-top: 5px dotted white;
  width:60%;
  margin:auto;
}
.banner-text{
  color:black;
  margin-top: 50px;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i{
  font-size: 5em;
  color:white;
}
/*projects page css*/
.addnewbutton{
  width:200px;
  height: 60px;
  color:white;
  background-color: red;
}
.displayProjects{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*contact page css*/
.contact-body{
  margin:auto;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h1{
  font-family: 'Anton', sans-serif;
}
  .contact-grid p{
    font-family: 'Oxygen' ,sans-serif;
    font-weight: bold;
  }
  .contact-grid hr{
    border-top:5px dotted black;
    width:50%;
    margin: auto;
  }
.contact-list i{
  font-size: 33px;
  padding-right: 2em;
}

/*Resume page css*/

.resumegrid{

}
.adress{
  display:flex;
justify-content: space-around;
}

.backgroundcolor{

}
.skills{

}
/*certification page css*/
.certifydisplay{
  color:black;
}
.certifydisplay a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-family: 'KoHo', sans-serif;
  font-weight:200;
}
.certifydisplay p{
  font-size: 20px;
  color:black;
  font-family: 'Anton' sans-serif;
}
@media screen and (min-width: 480px) {
  .projectcard h5,p{
    font-size: 14px;
  }
  .projectcard p{
    font-size: 12px;
  }
}
@media screen and(min-width: ){

}
